<template>
  <div class="container">
    <div id="name-container">
      <img id="avatar" src="./../assets/images/256x.jpg" alt="avatar" />
      <h1>离子 / Lonely_ion</h1>
    </div>
    <div class="title-desc-container">
      <a id="github" href="https://github.com/lonelyion" target="_blank" rel="noopener noreferrer"
         data-umami-event="goto_github"
        ><img class="title-font" src="./../assets/images/github.svg" />GitHub</a
      >
      <span>/</span>
      <a id="blog" href="https://blog.lonelyion.com" target="_blank" rel="noopener noreferrer"
        ><img class="title-font" src="./../assets/images/zeit.svg" />Blog</a
      >
      <span>/</span>
      <a id="Bilibili" href="https://space.bilibili.com/7564991" target="_blank" rel="noopener noreferrer"
         data-umami-event="goto_bilibili"
        ><img class="title-font" src="./../assets/images/bilibili.svg" />Bilibili</a
      >
    </div>
    <div class="article">
      <h2>WHO AM I</h2>
      <p>
        I'm ion(离子)，with ID <i>Lonely ion</i> and other names such as
        <a href="https://space.bilibili.com/7564991" target="_blank" rel="noopener noreferrer">@海离</a> /
        <a href="https://github.com/miriko-ch" target="_blank" rel="noopener noreferrer">@Miriko</a>.
        I use similar names in many other places (including my original character).
        I am an embedded software engineer, mainly focused on host systems. Additionally, I am also an user producer(UP) of Bilibili.
      </p>

      

      <h2>Academics</h2>
      <p><b>BSc in Computer Science </b> graduate at Shanghai University (2018 - 2022).</p>
      <ul>
        <li>🍭 <b>Tech Stack</b> C / C++ / C# / HTML / CSS / JavaScript</li>
        <li>🔭 <b>Interested：</b> Full-stack / IoT / Embeded Device / Digital Media Tech </li>
      </ul>

      <h2>PC / Mobile Devices</h2>
      <ul>
        <li>🖥️ Intel(R) Core(TM) i9-13900K / NVIDIA GeForce RTX 4070 Ti / 32GB DDR5</li>
        <li>💻 ASUS Vivobook Pro 16 (N7600ZE)</li>
        <li>📱 Xiaomi <b>14</b> / MIX4 / MIX2s</li>
        <li>📲 Xiaomi Pad 6 Pro</li>
        <li>🔌 Intel NUC 8i5</li>
      </ul>

      <h2>Instrumentals / Audio Devices</h2>
      <ul>
        <li>🎸 Fender (Made in Japan) Hybrid II Stratocaster</li>
        <li>🎸 Ibanez GRG170DX-SV</li>
        <li>🎛️ Ampero Mini</li>
        <li>🎚️ TOPPING E2x2 Audio Interface</li>
        <li>🎤 Presonus PD-70 / 🔊 Eris E3.5 x2</li>
      </ul>

      <h2>How can we trust you!</h2>
      <p>
        I use a GPG signature that verifies this domain to verify my identity. (For detailed verification information click here:
        <a
          href="https://keybase.io/lonely_ion/sigchain#7ba2deb2cea02ad2a679ed865609553d856bc5c2d9d37bc2a20d43d7d885b11c0f"
          target="_blank"
          rel="noopener noreferrer"
          >Keybase - claimed ownership of <b>lonelyion.com</b> via dns</a>
        .) In other words, <i>I am legitimate and unique here.</i>
      </p>
      <p>
        My GPG certificates are hosted at 
        <a href="http://keybase.io/lonely_ion" target="_blank" rel="noopener noreferrer">Keybase - Lonely_ion</a>. 
        You can pull and import them into your device using the following command:
      </p>
      <pre>curl https://keybase.io/lonely_ion/pgp_keys.asc | gpg --import</pre>
      <p>
        If you see a GitHub commit that links to my username or email address，<b>be aware that it's probably not me!</b> Unless GitHub shows a little green <code>Verified</code> badge，
        that means I've signed the commit with my GPG private key, claiming ownership of the commit.
      </p>

      

      <h2>Contacts</h2>
      <ul>
        <li>
          <b>Email：</b>
          <a href="mailto:ion.overflow@outlook.com">ion.overflow#outlook.com</a><i> (Preferred)</i>
        </li>
        <li style="color: #fafafa">私多分 一生CRYCHICのこと忘れられないよ</li>
      </ul>
    </div>
  </div>
</template>

<style lang="css" scoped>
#name-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 12px;
}

#copyright:hover {
  border: none;
}

.title-font {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.title-desc-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 0;
}

.title-desc-container a {
  display: flex;
  align-items: center;
}

.title-desc-container span {
  margin: 0px 4px;
}

.title-desc-container #github {
  color: #24292e;
}

.title-desc-container #Bilibili {
  color: #ff709f;
}

.title-desc-container #blog {
  color: #0070f3;
}
</style>
