<template>
  <div class="container">
    <h1>项目</h1>
    <p>我主导或参与开发的项目</p>

    <GitHubCard
      title="🎹 Material VTuber Button"
      link="https://github.com/lonelyion/material-vtuber-button"
      :info="mvbInfo"
      :loading="loading"
    >
      <p>
        A template for developers to create a VTuber(or anyone else) Button website quickly.
        <a href="material-vtuber-button.vercel.app">Preview Site</a>.
      </p>
    </GitHubCard>

    <GitHubCard
      title="📺 Bilibili Status Badge"
      link="https://github.com/lonelyion/bilibili-stats-badges"
      :info="bsbInfo"
      :loading="loading"
    >
      <p>Readme Badges that displaying your Bilibili data.</p>
    </GitHubCard>

    <GitHubCard
      title="📱 IRZ"
      link="https://github.com/lonelyion/irz"
      :info="irzInfo"
      :loading="loading"
    >
      <p>
        A project to control aircon in my dorm with RaspberryPi and IR sender.
      </p>
    </GitHubCard>

    <GitHubCard
      title="💻 Arc Share"
      link="https://github.com/lonelyion/ArcShare"
      :info="arcsInfo"
      :loading="loading"
    >
      <p>An UWP application that share files between any devices.</p>
    </GitHubCard>

  </div>
</template>

<script>
import GitHubCard from '@/components/GitHubCard.vue'

export default {
  components: {
    GitHubCard,
  },
  data() {
    return {
      loading: true,
      mvbInfo: {
        stargazers_count: 0,
        forks_count: 0,
      },
      bsbInfo: {
        stargazers_count: 0,
        forks_count: 0,
      },
      irzInfo: {
        stargazers_count: 0,
        forks_count: 0,
      },
      arcsInfo: {
        stargazers_count: 0,
        forks_count: 0,
      },
    }
  },
  mounted() {
    const githubApiUrl = 'https://api.github.com/repos'

    const mvbAxios = this.axios.get(`${githubApiUrl}/lonelyion/material-vtuber-button`)
    const bsbAxios = this.axios.get(`${githubApiUrl}/lonelyion/bilibili-stats-badges`)
    const irzAxios = this.axios.get(`${githubApiUrl}/lonelyion/irz`)
    const arcsAxios = this.axios.get(`${githubApiUrl}/lonelyion/ArcShare`)

    this.axios
      .all([mvbAxios, bsbAxios, irzAxios, arcsAxios])
      .then(
        this.axios.spread((...resp) => {
          this.loading = false
          this.mvbInfo = resp[0].data
          this.bsbInfo = resp[1].data
          this.irzInfo = resp[2].data
          this.arcsInfo = resp[4].data
        }),
      )
      .catch(err => {
        this.loading = false
        // eslint-disable-next-line no-console
        console.error(err)
      })
  },
}
</script>

<style scoped>
.container .github-project-card:not(:last-child) {
  margin-bottom: 40px;
}

</style>
