<template>
  <div class="container">
    <h1>Social</h1>
    <p>Some of my followers.</p>

    <div class="col-container">
      <div class="row-container">
        <statCard
          statTitle="Bilibili / 海离Channel"
          :followers="bilibili.data"
          suffix="followers"
          icon="bilibili.png"
          :loading="bilibili.loading"
          link="https://space.bilibili.com/7564991"
        />
        <statCard
          statTitle="Bilibili / 海离二号机"
          :followers="bilibili2.data"
          suffix="followers"
          icon="bilibili.png"
          :loading="bilibili2.loading"
          link="https://space.bilibili.com/314977548"
        />
      </div>
      <div class="row-container">
        <statCard
          statTitle="Steam"
          :followers="steamGames.data"
          suffix="friends"
          icon="steam.png"
          :loading="steamGames.loading"
          link="https://steamcommunity.com/id/lonelyion"
        />
      </div>
      <div class="row-container">
        <statCard
          statTitle="GitHub"
          :followers="github.data"
          suffix="followers"
          icon="github.png"
          :loading="github.loading"
          link="https://github.com/lonelyion"
        />
      </div>
    </div>

    <p id="substats-footer">
      * Follower statistics powered by:
      <a href="https://api.spencerwoo.com/substats">Substats</a>.
    </p>
  </div>
</template>

<script>
import statCard from '@/components/StatCard.vue'

export default {
  components: {
    statCard,
  },
  data() {
    return {
      bilibili: { data: 0, loading: true },
      bilibili2: { data: 0, loading: true },
      github: { data: 0, loading: true },
      steamGames: { data: 0, loading: true },
    }
  },
  mounted() {
    const apiUrl = 'https://api.spencerwoo.com/substats'

    const bilibiliAxios = this.axios.get(`${apiUrl}/?source=bilibili&queryKey=7564991`)
    const bilibili2Axios = this.axios.get(`${apiUrl}/?source=bilibili&queryKey=314977548`)
    const githubAxios = this.axios.get(`${apiUrl}/?source=github&queryKey=lonelyion`)
    const steamGamesAxios = this.axios.get(`${apiUrl}/?source=steamFriends&queryKey=76561198434527868`)

    bilibiliAxios.then(r => {
      this.bilibili = { data: r.data.data.totalSubs, loading: false }
    })
    bilibili2Axios.then(r => {
      this.bilibili2 = { data: r.data.data.totalSubs, loading: false }
    })
    githubAxios.then(r => {
      this.github = { data: r.data.data.totalSubs, loading: false }
    })
    steamGamesAxios.then(r => {
      this.steamGames = { data: r.data.data.totalSubs, loading: false }
    })
  },
}
</script>

<style lang="css" scoped>
.col-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
}

.row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin: 15px 0px;
}

.row-container .statCard:last-child {
  margin-left: 30px;
}

.row-container .statCard {
  flex: 1;
}

@media screen and (max-width: 760px) {
  .row-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
  }

  .row-container .statCard:last-child {
    margin-left: 0px;
    margin-top: 30px;
  }
}

#substats-footer {
  color: #666666;
  text-align: left;
}
</style>
